<h1>Edit {{parentProfile.title}}</h1>

    <form action="/parents/{{parentProfile._id}}?_method=PUT" method="POST">
        <div>
            <label>Edit Parent Profile</label>
            <input for="firstName" type="text" name="firstName" placeholder="First Name" value="{{parentProfile.firstName}}" />
            <input for="lastName" type="text" name="lastName" placeholder="Last Name" value="{{parentProfile.lastName}}" />
            <input for="email" type="email" name="email" placeholder="E-mail" value="{{parentProfile.email}}" />

            <button type="submit">Enter</button>
        </div>
    </form>