<h1>{{parentProfile.title}} </h1>
<h3>First Name: {{parentProfile.firstName}} </h3>
<h3>Last Name: {{parentProfile.lastName}} </h3>
<h3>Email: {{parentProfile.email}} </h3>

<form action="/parents/{{parentProfile._id}}?_method=DELETE" method="post">
    <button type="submit">Delete Parent</button>
</form>
<a href="/parents/{{parentProfile._id}}/edit">
    <button type="submit">Edit Parent</button>
</a>